<%= image_tag "logo.png", height: 30, width: 30, alt: "Logo" %>

<div class="badge rounded-pill bg-primary fs-6">
  <div id="flats">
      <% @flats.each do |flat| %>
        <%= render flat %>
        <p>
          <%= link_to "Show this flat", flat %>
        </p>
      <% end %>
    </div>
</div>
